:root {
    --main_white_color: #FFF0DC;
    --main_red_color: #FF0101;
    --main_blue_color: #110D2E;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    margin: 0%;
    background-color: var(--main_blue_color);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@font-face {
    font-family: 'bold';
    src: url('fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'regular';
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'light';
    src: url('fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: 'porter';
    src: url('fonts/porter-sans-inline-block.ttf');
}

header {
    display: flex;
    padding: 29px 84px;
    align-items: flex-start;
    gap: 87px;
    justify-content: center;
    background-color: var(--main_blue_color);
    position: fixed;
    z-index: 1000;
}

.login-botton {
    display: flex;
    padding: 5px 32px;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--main_red_color);
    transition: background-color .3s ease, border .3s ease;
    cursor: pointer;
}

.login-botton:hover {
    background-color: transparent;
    border: 2px solid var(--main_red_color);
}

.nav {
    display: flex;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 111px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav__link {
    color: var(--main_white_color);
    text-decoration: none;
    font-family: 'regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: background-color .15s ease, color .15s ease;
}

.nav__link:hover {
    color: var(--main_red_color);
}

.nav__logo {
    width: 86px;
    height: 50px;
}

h4 {
    font-family: 'regular';
    color: var(--main_white_color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

main {
    display: flex;
    width: 1280px;
    flex-direction: column;
    align-items: center;
    gap: 98px;
    margin-top: 100px;
}

.heroimage {
    width: 650px;
    height: 650px;
}

.herosection {
    display: flex;
    align-items: center;
    gap: 58px;
    flex-direction: row;
}

.hero-div-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.big-logo {
    height: 264px;
    align-self: stretch;
    aspect-ratio: 455/264;
}

.button {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--main_red_color);
    cursor: pointer;
    transition: background-color .3s ease, border .3s ease;
}

.button:hover {
    background-color: transparent;
    border: 2px solid var(--main_red_color);
}

.section-1 {
    width: 1280px;
    background-image: url(Assets/background\ 1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50PX;
}

.big-character-div {
    width: 446px;
    height: 460px;
    position: relative;
}

.otherpic {
    display: flex;
    width: 338px;
    height: 358px;
    padding: 22px 28px 23px 27px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main_white_color);
    position: absolute;
    top: 95;
    left: 100;
}

.character-div {
    display: inline-flex;
    padding: 16px 36px 21px 36px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24.431px;
    background-color: var(--main_white_color);
    position: absolute;
    z-index: 10;
}

.pin {
    width: 53px;
    height: 53px;
    position: absolute;
    z-index: 100;
    background-image: url(Assets/PIN.svg);
    top: -20;
}

.section1-div1 {
    display: flex;
    width: 1080px;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.section1-div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
}

.section1-div3 {
    display: flex;
    align-items: flex-start;
    gap: 188px;
    flex-direction: row;
}

h2 {
    font-family: 'regular';
    color: var(--main_red_color);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.agent-img {
    filter: saturate(0);
}

.agent-img:hover {
    filter: saturate(1);
    transition: filter .3s ease;
}

.h4-2 {
    font-family: 'porter';
    color: var(--main_blue_color);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}